{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>YouTubeDownloader</title>
</head>
<body>
    <main>
        <section class="section left">
            <h2> 
                Téléchargez
                <span>
                    n’importe quelle vidéo YouTube 
                </span>
            </h2>
            <form id="find_form">
                {% csrf_token %}
                <input type="text" name="video_url" id="url_input" placeholder="URL VIDEO">
                <input type="submit" name="submit_btn" id="submit_btn" value="Trouver">
            </form>

        </section>

        <section class="section right">
            <div class="video_found" id="video_found">
        
            </div>
        </section>
        
    </main>

    <template id="result_found">
        <p class="title">video title</p>
        <img src="#" alt="video thuumbnail">

        <div class="action">
            <select name="res" id="res">
            </select>
            <a id="download-btn">Télécharger</a>
        </div>
    </template>

    <script src="{% static 'main.js' %}"></script>
</body>
</html>